body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row{
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
header p {
  padding: 0 20px;
  margin: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("https://images7.alphacoders.com/317/thumb-1920-317395.JPG");
  background-size: cover;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
#comment{
    color:black;
}
