body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row{
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}
header p {
  padding: 0 20px;
  margin: 0;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-color:  #fdf2e9 ;
  background-size: cover;
  color: black;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  
}
#comments{
    width:1000px;
    background-color: #5dade2 ;
    color:black;
    font:1.4em/1.6em cursive;
    
}
.footer{
    font-size:30px;
 
}
