a:link{
    text-decoration:none;
    color: #008B45;
}
a:hover{
    color: #00FF00;
}
a:visited{
    color: #EE9A00;
}
a{
    text-decoration:none;
}
div {
	display: inline-block;
	margin-left: 250px;
	height: 300px;
		width: 300px;
		border-radius: 100%;
		border: 2px solid black;
	
}
