a:link{
    text-decoration:none;
    color: #008B45;
}
a:hover{
    color: #00FF00;
}
a:visited{
    color: black;
}
.A {
	display: inline-block;
    height: 200px;
	width: 200px;
	border-radius: 10%;
	border: 2px solid black;
	background-color: #F38630;
	text-align:center;
	
	margin:100px 50px 100px 50px;
	}
#Head{
   	height: 50px;
	background-color: #F38630;
	margin-bottom: 10px;
}
