a:link{
    text-decoration:none;
    color: #008B45;
}
a:hover{
    color: #00FF00;
}
a:visited{
    color: #EE9A00;
}
a{
    text-decoration:none;
}
div {
	display: inline-block;
    height: 200px;
	width: 200px;
	border-radius: 100%;
	background-color: #F38630;
	/* margin:50px 50px 50px 50px;*/
	}
p{
    text-align: left;
}
