body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row{
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
  font-family: serif;
  color:#5dade2;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  font-size:25px;
  font-weight: bold;
  color:black;
}
.jumbotron {
  display: flex;
  align-items: center;
 background-image:url("https://lh3.googleusercontent.com/xPGSquojm96M4UpEOt32cbkn8P99qVShUKUZRjy6NcHbE-FBo42CzF_FQYtVCAPeN4rYyY-itrh7IfE=w1365-h697");
 background-size: cover;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
#login_area{
    margin-top:50px;
    margin-left:450px;
    width:400px;
    color: black;
    font-size:30px;
    font-family: serif;
    font-weight:bold;
}
#register_area{
     
    margin-top:35px;
    margin-left:450px;
    width:400px;
    color: black;
    font-size:30px;
    font-family: serif;
    font-weight:bold;
}

.droparea p{
    margin-top:100px;
  
}

#register_btn, #login_btn{
    margin-top:-5px;
    background-color: #eb984e ; 
}
#register_btn:hover, #login_btn:hover, .dropbtn:hover{
    background-color:#aed6f1 ;
    border-color: black;
  
}
.dropbtn{
    margin-top:20px;
    background-color: #eb984e ;
    color: black;
    padding: 16px;
    font-size: 30px;
    width:200px;
    border: none;
    cursor: pointer;
    
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFA07A ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 30px;
    width:200px;
    
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color:  #aed6f1  }


.show {display:block;}
.footer{
    font-size:30px;
 
}