body {
    font-family: sans-serif;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #f48fb1 ;
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}



.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}


#header {
	position: relative;
	top: -10px;
	background-color: skyblue;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
h1{
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
}





