body {
    font-family: sans-serif;
    margin: auto;
    width: 100%;
    height: 100%;
    background-image: url("https://images4.alphacoders.com/358/3584.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 150px;
    position:relative;
    top:20px;
    left:-550px;
    
}
#header {
	position: relative;
	top: -10px;
	background-color: skyblue;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
h1{
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
}
#AboutMe{
    height:150px;
    width:300px;
    background-color:#F38630;
}




